

@media (max-width: 700px) {
  .back-to-top {
    right: -3px;
    top: 17px;
    z-index: 3;
  }
}

@media (min-width: 701px) and (max-width: 1024px) {
  .back-to-top {
    right: 23px;
    top: 145px;
  }
}

@media (min-width: 320px) and (max-width: 410px) {
  .back-to-top {
    right: 40px;
    top: 28px;
  }
}