.main-box-at {
  display: grid;
  grid-template-rows: 240px 1fr;
}

.day-subject-display-box {
  margin: 18px;
  border-radius: 10px;
  border: 2px solid white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  max-height: 28vh;
  justify-items: center;
}

.day-subject-display-box {
    background: linear-gradient(179deg, #010d00, #022602, #a29414);
    background-size: 800% 800%;

    -webkit-animation: AnimationName 6s ease infinite;
    -moz-animation: AnimationName 6s ease infinite;
    -o-animation: AnimationName 6s ease infinite;
    animation: AnimationName 6s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 66%}
    50%{background-position:100% 35%}
    100%{background-position:0% 66%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 66%}
    50%{background-position:100% 35%}
    100%{background-position:0% 66%}
}
@-o-keyframes AnimationName {
    0%{background-position:0% 66%}
    50%{background-position:100% 35%}
    100%{background-position:0% 66%}
}
@keyframes AnimationName {
    0%{background-position:0% 66%}
    50%{background-position:100% 35%}
    100%{background-position:0% 66%}
}

.all-subjects-display-box {
    background: linear-gradient(179deg, #d13f8b, #3c3a08, #7b0e62);
    background-size: 600% 600%;

    -webkit-animation: AnimationName 10s ease infinite;
    -moz-animation: AnimationName 10s ease infinite;
    -o-animation: AnimationName 10s ease infinite;
    animation: AnimationName 10s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 66%}
    50%{background-position:100% 35%}
    100%{background-position:0% 66%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 66%}
    50%{background-position:100% 35%}
    100%{background-position:0% 66%}
}
@-o-keyframes AnimationName {
    0%{background-position:0% 66%}
    50%{background-position:100% 35%}
    100%{background-position:0% 66%}
}
@keyframes AnimationName {
    0%{background-position:0% 66%}
    50%{background-position:100% 35%}
    100%{background-position:0% 66%}
}

.date-display-box{
  font-family: "BBH Bartle";
  color: #ffffff;
  font-size: 17px;
  letter-spacing: 1px;
  margin-top: 1.4%;
  text-shadow: 2px 2px 0.001px rgb(67, 5, 5);
}

.subjects-at-display-box {
  background-color: rgb(46, 59, 2);
  width: 95%;
  min-height: 100px;
  padding: 9px 13px;
  margin-top: 15px;
  margin-bottom: 1.5%;
  border-top: 2px solid white;
  border-left: 2px solid white;
  box-shadow: 2.5px 2.5px 0.001px black;
  border-radius: 10px;
  overflow-y: auto;
}

.display-no {
  display: none;
}

.subjects-at-display {
  display: flex;
  align-items: center;
  padding: 5px;
  font-weight: 450;
  justify-content: space-between;
}

.subject-at-name {
  font-size: 17px;
  color: white;
  letter-spacing: 0.5px;
}

.Tracker-button {
  width: 73px;
  height: 24px;
  font-weight: 500;
  color: white;
  margin: 0px 7px;
  border: none;
  border-radius: 7px;
  box-shadow: 1.5px 1.5px 0.001px black;
  transition: all 0.15s ease;
}

.present-button {
  background-color: rgb(69, 147, 69);
}

.present-button:hover {
  background-color: rgb(76, 160, 76);
  box-shadow: 0px 0px 3px green;
}

.absent-button {
  background-color: rgb(193, 58, 58);
}

.absent-button:hover {
  background-color: rgb(193, 82, 82);
  box-shadow: 0px 0px 3px rgb(77, 25, 25);
}

.cancelled-button {
  background-color: rgb(104, 104, 104); 
  width: 76px;
}

.cancelled-button:hover {
  background-color: rgb(137, 137, 137);
  box-shadow: 0px 0px 3px rgb(130, 130, 130);
}

.Tracker-button:active {
  opacity: 0.8;
}

.subjects-at-display-box::-webkit-scrollbar {
  width: 5px;
  padding-top: 5px;
}

.subjects-at-display-box::-webkit-scrollbar-track {
  background: transparent;
}

.subjects-at-display-box::-webkit-scrollbar-thumb {
  background: rgb(187, 187, 187); 
  border-radius: 12px;
}

.all-subjects-display-box {
  margin: 30px;
  margin-top: 5px;
  margin-bottom: 30px;
  border-radius: 10px;
  height: auto;
  border: 2px solid white;
}

.all-subjects-display-box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  padding: 15px;
  gap: 20px;
}

.subject-data-box {
  border-radius: 10px;
  box-shadow: 3px 3px 0.01px rgb(16, 3, 3);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 7px;
  padding-bottom: 15px;
}

.subject-name-box {
  padding: 10px;
  padding-bottom: 0px;
}

.subject-name {
  font-family: "BBH Bartle";
  color: white;
  font-size: 17.5px;
  letter-spacing: 1px;
  text-shadow: 2px 2px 0.01px rgb(50, 11, 11);
}

.total-classes {
  color: white;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  text-shadow: 1px 1px 0.01px black;
  font-weight: 470;
  letter-spacing: 1px;
}

.present-box {
  background-color: rgb(30, 127, 30);
  width: 90%;
  padding: 2%;
  border-radius: 7px;
  justify-content: center;
  border: 2px solid white;
}

.attendance-track {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: white;
  letter-spacing: 1px;
  font-weight: 500;
  text-shadow: 1px 1px 0.01px black;
}

.absent-box {
  background-color: rgb(187, 22, 22);
  width: 90%;
  padding: 2.5%;
  border-radius: 7px;
  justify-content: center;
  border: 2px solid white;
}

.cancelled-box {
  background-color: rgb(86, 86, 86);
  width: 90%;
  padding: 2%;
  border-radius: 7px;
  justify-content: center;
  border: 2px solid white;
}

.percentage-attendance {
  height: 50px;
  margin-top: 5px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bar-box {
  background-color: rgb(125, 125, 125);
  height: 20px;
  margin-top: 5px;
  width: 90%;
  border-radius: 7px;
  border: 2px solid white;
}

.bar-width-box {
  background-color: rgb(76, 76, 76);
  height: 17px;
  margin-top: 0px;
  width: 80%;
  border-radius: 7px;
}

.not-today {
  margin: 20px;
  margin-top: 80px;
  font-family: "BBH Bartle";
  font-size: 20px;
  letter-spacing: 2px;
  color: white;
  text-shadow: 2px 2px 0.01px rgb(40, 16, 16);
}

.good {
  background-color: rgb(7, 52, 2);
}

.medium {
  background-color: rgb(37, 37, 37);
}

.bad {
  background-color: rgb(81, 12, 12);
}

@media (max-width: 700px) {
  .back-to-top {
    right: -3px;
    top: 17px;
    z-index: 3;
  }
  .date-display-box {
    margin-top: 20px;
  }
  .subjects-at-display-box {
    margin-bottom: 3.5%;
    padding-top: 6px;
    margin-top: 3%;
  }
  .Tracker-button {
    margin: 0px 1px;
  }
  .all-subjects-display-box {
    grid-template-columns: 1fr;
    padding: 20px;
  }
  .subject-data-box {
    gap: 10px;
  }
  .subject-name {
    font-size: 17px;
  }
  
}

@media (min-width: 701px) and (max-width: 1024px) {
  .back-to-top {
    right: 23px;
    top: 140px;
  }
  .day-subject-display-box {
    margin-top: 55px;
  }
  .subjects-at-display-box {
    margin-bottom: 1.5%;
    max-height: 110px;
    padding-top: 3px;
  }
  .date-display-box {
    margin-top: 11px;
  }
  .Tracker-button {
    margin: 0px 3px;
  }
  .all-subjects-display-box {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 320px) and (max-width: 410px) {
  .back-to-top {
    right: 40px;
    top: 28px;
  }
  .day-subject-display-box {
    margin-top: 60px;
  }
  .Tracker-button {
    width: 58px;
    margin: 1px;
  }
  .cancelled-button {
    width: 73px;
  }
  .subjects-at-display {
    padding: 5px 0px;
    padding-right: 0px
  }
  .subject-at-name {
    letter-spacing: 0px;
  }
  .date-display-box {
    margin-top: 13px;
    font-size: 15px;
  }
  .subjects-at-display-box {
    max-height: 100px;
  }
  .all-subjects-display-box {
    grid-template-columns: 1fr;
    padding: 15px;
  }
  .not-today {
    margin-top: 55px;
    font-size: 15px;
  }
}