
.footer {
  height: 100%;
  background-color: #000617;
  box-shadow: 0px 0px 25px rgb(3, 0, 15);
  border-top: 3px solid white;
  padding: 10px 15px;
  border-radius: 30px;
  border-style: solid;
}

@media (max-width: 480px) {
  .footer {
    height: 360%;
  }
}
@media (min-width: 500px) and (max-width: 768px) {
  .footer {
    height: 225%;
  }
}

@media (min-width: 768px) {
  .footer {
    height: 135%;
  }
}

.footer-heading {
  color: white;
  font-size: 18px;
}

.footer-dis {
  font-weight: 300;
  color: white;
}

.footer-dis-box {
  margin-top: 15px;
}