.heading-nav {
  color: white;
  font-size: 1.07em;
  width: 100%;
  margin-right: 0px;
}

.header-box {
  background-color: gray;
  height: 90px;
}

.header {
  position: sticky;
  top: 0px;
  height: 93%;
  padding: 1rem;
  display: grid;
  grid-template-columns: 70px 1fr 430px;
  grid-template-areas: "nav middle buttons";
  border: none;
  width: 100%;
  align-items: center;
  background-color: #01081b;
  box-shadow: 0px 0px 25px rgb(3, 0, 15);
}

.nav-header {
  grid-area: nav;
}

.page-title-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  grid-area: middle;
}

.logo-header-button {
  width: 40px;
  background: transparent;
  border: none;
  margin-right: 5px;
  border-radius: 100%;
}

.logo-header {
  width: 40px;
}

.header-end-part {
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-area: buttons;
  margin-right: 15px;
  margin-bottom: 10px;
  
}

@media (max-width: 700px) {
  .header{
    grid-template-columns:40px 1fr;
    grid-template-areas: 
    "nav middle"
    "buttons buttons";
    height: 100%;
  }
  .header-end-part {
    margin-top: 10px;
    margin-right: 0px;
  }
}

@media (min-width: 701px) and (max-width: 1000px) {
  .header{
    height: 140%;
  }
  .header-end-part {
    margin-top: 10px;
    gap: 13px;
    margin-right: 0px;
  }
}

@media (min-width: 320px) and (max-width: 410px) {
  .header{
    grid-template-columns:40px 1fr;
    grid-template-areas: 
    "nav middle"
    "buttons buttons";
    height: 130%;
  }
  .header-end-part {
    margin-top: 10px;
    gap: 13px;
    margin-right: 0px;
  }
}

.header-buttons {
  background-color: #000617;
  color: white;
  padding: 8px 13px;
  border-radius: 6px;
  border: 2px solid rgb(0, 8, 37);
  font-size: 15px;
  transition: all 0.15s ease, box-shadow 0.2s;
  cursor: pointer;
  box-shadow: 2px 2px 0.00px rgb(0, 0, 0);
}

.header-buttons:hover {
  transform: scaleX(1.07);
  opacity: 0.9;
  background-color: rgb(25, 60, 112);
  border-color: 5px solid black;
}

.header-buttons:active {
  box-shadow: 3px 3px 0.00px rgb(20, 27, 94);
}

.title-page {
  border: 2px solid rgb(3, 11, 27);
  margin-left: 5px;
  margin-right: 15px;
  border-radius: 10px;
  padding: 8px 15px;
  color: white;
  letter-spacing: 0px;
  background-color: #000617;
  font-size: 1.4em;
  font-weight: 600;
  text-shadow: 1px 1px 2px rgb(113, 113, 113);
  box-shadow: 0px 0px 10px rgb(12, 6, 34);
}

.nav-button {
  border: 0px solid rgb(255, 255, 255);
  border-radius: 100%;
  width: 40px;
  height: 40px;
  margin-right: 0px;
  background-color: #000617;
  transition: all 0.4s ease;
  cursor: pointer;
}

.nav-button:hover {
  transform: rotate(180deg) scale(1.06);
  box-shadow: 2px 1px 0.001px  rgb(22, 40, 66);
}

.nav-button-active:hover {
  transform: rotate(-180deg) scale(1.06);
}

.nav-button:active {
  background-color: #040e24;
}

.nav-image{
  width: 50%;
  padding-top: 3px;
}

.nav-image-active {
  margin-top: 5px;
  opacity: 0.9;
  width: 65%;
}