.main-box {
  background-color: rgb(0, 0, 6);
  display: grid;
  grid-template-rows: 180px 215px 1.5fr 225px;
}

.main-box-1 {
  display: flex;
  justify-content: center;
  border: 2px solid white;
  margin: 0px 20px;
  margin-top: 23px;
  border-radius: 10px;
  flex-direction: column;
  align-items: center;
}

.main-box-1 {
    background: linear-gradient(179deg, #010d00, #022602, #a29414);
    background-size: 800% 800%;

    -webkit-animation: AnimationName 6s ease infinite;
    -moz-animation: AnimationName 6s ease infinite;
    -o-animation: AnimationName 6s ease infinite;
    animation: AnimationName 6s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 66%}
    50%{background-position:100% 35%}
    100%{background-position:0% 66%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 66%}
    50%{background-position:100% 35%}
    100%{background-position:0% 66%}
}
@-o-keyframes AnimationName {
    0%{background-position:0% 66%}
    50%{background-position:100% 35%}
    100%{background-position:0% 66%}
}
@keyframes AnimationName {
    0%{background-position:0% 66%}
    50%{background-position:100% 35%}
    100%{background-position:0% 66%}
}

.main-box-1-2 {
    margin-bottom: 13px;
    margin-top: 28px;
    background: linear-gradient(179deg, #170100, #4f0707, #6d168f);
    background-size: 600% 600%;

    -webkit-animation: AnimationName 6s ease infinite;
    -moz-animation: AnimationName 6s ease infinite;
    -o-animation: AnimationName 6s ease infinite;
    animation: AnimationName 6s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 66%}
    50%{background-position:100% 35%}
    100%{background-position:0% 66%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 66%}
    50%{background-position:100% 35%}
    100%{background-position:0% 66%}
}
@-o-keyframes AnimationName {
    0%{background-position:0% 66%}
    50%{background-position:100% 35%}
    100%{background-position:0% 66%}
}
@keyframes AnimationName {
    0%{background-position:0% 66%}
    50%{background-position:100% 35%}
    100%{background-position:0% 66%}
}

.basic-working {
  color: white;
  font-family: "BBH Bartle";
  font-size: 25px;
  letter-spacing: 1px;
  margin-bottom: 0.5%;
  text-shadow: 2px 2px 0.001px rgb(50, 3, 3);
}

.basic-dis {
  color: white;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0.5%;
}

.main-box-2 {
  background-color: rgb(82, 79, 18);
  height: auto;
  margin: 10px 19px;
  margin-bottom: 23px;
  border-radius: 10px;
  margin: 15px;
  border: 3px solid rgb(183, 179, 137);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  padding: 0px 3px;
  box-shadow: 0px 0px 10px rgb(4, 28, 36);
}

.main-box-2 {
    background: linear-gradient(179deg, #d13f8b, #3c3a08, #7b0e62);
    background-size: 600% 600%;

    -webkit-animation: AnimationName 10s ease infinite;
    -moz-animation: AnimationName 10s ease infinite;
    -o-animation: AnimationName 10s ease infinite;
    animation: AnimationName 10s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 66%}
    50%{background-position:100% 35%}
    100%{background-position:0% 66%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 66%}
    50%{background-position:100% 35%}
    100%{background-position:0% 66%}
}
@-o-keyframes AnimationName {
    0%{background-position:0% 66%}
    50%{background-position:100% 35%}
    100%{background-position:0% 66%}
}
@keyframes AnimationName {
    0%{background-position:0% 66%}
    50%{background-position:100% 35%}
    100%{background-position:0% 66%}
}

.time-table-box {
  background-color: rgb(32, 35, 3);
  max-height: 40vh;
  height: 35vh;
  margin: 10px 12px;
  margin-bottom: 15px;
  border-radius: 10px;
  display: grid;
  border-top: 3px solid rgb(18, 111, 18);
  border-left: 3px solid rgb(26, 91, 26);
  grid-template-rows: 35px 45px 1fr;
  box-shadow: 4px 4px 2px rgb(19, 2, 9);
  justify-items: center;
}

.day-span {
  font-family: "BBH Bartle";
  color: white;
  font-size: 15px;
  letter-spacing: 1px;
  margin-top: 6%;
  text-shadow: 2px 2px 0.001px rgb(67, 5, 5);
}

.subject-input-box {
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px none white;
  border-radius: 3px;
  padding: 5px;
}

.subject-display-box::-webkit-scrollbar {
  width: 5px;
  padding-top: 5px
}

.subject-display-box::-webkit-scrollbar-track {
  background: transparent;
}

.subject-display-box::-webkit-scrollbar-thumb {
  background: rgb(170, 170, 170); /* Matches your 'Add' button green */
  border-radius: 10px;
}

.subject-input {
  color: white;
  height: 85%;
  width: 74%;
  padding: 7px;
  border-radius: 3px;
  background-color: rgb(63, 63, 36);
  border: 2px solid rgb(24, 104, 60);
  border-bottom: 0px;
  border-right: 0px;
  box-shadow: 2px 2px 0.001px rgb(31, 6, 26);
}

.subject-input::placeholder {
  font-size: 12px;
  color: white;
}

.subject-button-add {
  width: 47px;
  height: 85%;
  font-weight: 600;
  background-color: rgb(45, 143, 45);
  border-radius: 6px;
  color: white;
  margin-left: 10px;
  border: none;
  letter-spacing: 0.5px;
  transition: all 0.15s ease;
}

.subject-button-add:hover {
  background-color: rgb(171, 205, 176);
  color: rgb(45, 143, 45);
  border-color: rgb(45, 143, 45);
}

.subject-display-box {
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  width: 96%;
  margin-top: 0%;
  margin-bottom: 4%;
  padding: 2%;
  padding-left: 5%;
  padding-top: 1%;
  overflow-y: auto;
}

.subject-display {
  margin: 7px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.subject-name {
  color: white;
  letter-spacing: 0.5px;
  text-shadow: 1px 1px 0.001px rgb(19, 33, 50);
}

.subject-button-remove {
  width: 60px;
  height: 125%;
  background-color: rgb(202, 53, 53);
  border: none;
  border-radius: 6px;
  font-weight: 600;
  letter-spacing: 0.5px;
  color: white;
  transition: all 0.15 ease;
}

.subject-button-remove:hover {
  background-color: rgb(206, 163, 163);
  color: rgb(202, 53, 53);
  border-color: rgb(202, 53, 53);
}

.main-box-3 {
  background-color: rgb(28, 5, 27);
  border-radius: 10px;
  margin: 20px;
  margin-top: 13px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: 2px solid rgb(231, 165, 165);
  box-shadow: 0px 0px 10px rgb(5, 32, 41);
}

.input-days-box {
  margin: 14px 15px;
  background-color: rgb(59, 26, 65);
  border-radius: 10px;
  box-shadow: 4px 4px 0.001px black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-shadow: 2.5px 2.5px 0.001px rgb(40, 6, 40);
}

.input-days-title {
  font-family: "BBH Bartle";
  color: white;
  letter-spacing: 1px;
  font-size: 18px;
  margin: 0px 0px;
}

.input-date {
  width: 200px;
  height: 35px;
  display: flex;
  justify-content: center;
  font-size: 16px;
  border: 3px solid rgb(26, 5, 5);
  background-color: rgb(61, 15, 36);
  font-weight: 600;
  color: white;
  border-radius: 5px;
  box-shadow: 2px 2px rgb(41, 6, 6);
}

.edit-date-button {
  margin-left: 20px;
  padding: 8px;
  height: 35px;
  border-radius: 8px;
  font-weight: 600;
  color: white;
  background-color: rgb(61, 15, 36);
  border-top: 2px solid white;
  border-left: 2px solid white;
  box-shadow: 2px 2px 0.001px black;
}

.edit-date-button:hover {
  color: rgb(61, 15, 36);
  background-color: rgb(160, 160, 160);
}

.display-day {
  margin-top: 0px;
  color: white;
  letter-spacing: 1px;
  font-size: 23px;
  font-weight: 500;
}

@media (max-width: 700px) {
  .back-to-top {
    right: -3px;
    top: 17px;
    z-index: 3;
  }
  .basic-working {
    font-size: 19px;
  }
  .main-box {
    grid-template-rows: 310px 310px 1fr 400px;
  }
  .basic-dis {
    margin-top: 2.5%;
  }
  .main-box-2 {
    grid-template-columns: 1fr 1fr;
    height: auto;
  }
  .day-span {
    font-size: 12px;
  }
  .time-table-box {
    max-height: 25vh;
  }
  .main-box-3 {
    grid-template-columns: 1fr;
  }
  .input-days-title {
    font-size: 15px;
    margin-bottom: 13px;
  }
}

@media (min-width: 701px) and (max-width: 1024px) {
  .back-to-top {
    right: 23px;
    top: 145px;
  }
  .main-box-2 {
    grid-template-columns: 1fr 1fr 1fr;
    height: auto;
  }
  .main-box {
    margin-top:38px;
    grid-template-rows: 215px 215px 1fr 230px;
  }
  .time-table-box {
    max-height: 25vh;
  }
  .input-days-title {
    font-size: 14.5px;
    margin-bottom: 13px;
  }
}

@media (min-width: 320px) and (max-width: 410px) {
  .back-to-top {
    right: 40px;
    top: 28px;
  }
  .main-box {
   margin-top: 43px;
   grid-template-rows: 370px 380px 1fr 380px;
  }
  .basic-working {
    font-size: 17px;
  }
  .main-box-2 {
    grid-template-columns: 1fr 1fr;
    height: auto;
  }
  .day-span {
    font-size: 10px;
    margin-top: 15px;
  }
  .time-table-box {
    max-height: 33vh;
    margin: 7% 6%;
  }
  .subject-button-remove {
    font-size: 13px;
    margin-left: 8px;
  }
  .input-days-title {
    font-size: 12.4px;
    margin-bottom: 13px;
  }
  .main-box-3 {
    margin: 10px;
    margin-bottom: 20px;
  }
}

.no-subjects {
  color: white;
  margin: 10px 0px;
  font-size: 15px;
  font-weight: 350;
  margin-left: 5%;
  text-shadow: 1px 1px 1px black;
}