.main-box {
  background-color: rgb(0, 0, 6);
  display: grid;
  grid-template-rows: 210px 235px 1fr 210px 220px;
  gap: 15px;
}

.main-box-1 {
  display: flex;
  justify-content: center;
  margin: 0px 40px;
  margin-top: 33px;
  border-radius: 10px;
  flex-direction: column;
  align-items: center;
}

.main-box-1 {
    background: linear-gradient(179deg, #010d00, #022602, #a29414);
    background-size: 800% 800%;

    -webkit-animation: AnimationName 6s ease infinite;
    -moz-animation: AnimationName 6s ease infinite;
    -o-animation: AnimationName 6s ease infinite;
    animation: AnimationName 6s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 66%}
    50%{background-position:100% 35%}
    100%{background-position:0% 66%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 66%}
    50%{background-position:100% 35%}
    100%{background-position:0% 66%}
}
@-o-keyframes AnimationName {
    0%{background-position:0% 66%}
    50%{background-position:100% 35%}
    100%{background-position:0% 66%}
}
@keyframes AnimationName {
    0%{background-position:0% 66%}
    50%{background-position:100% 35%}
    100%{background-position:0% 66%}
}

.main-box-1-2 {
    margin-bottom: 13px;
    margin-top: 28px;
    background: linear-gradient(179deg, #170100, #4f0707, #6d168f);
    background-size: 600% 600%;

    -webkit-animation: AnimationName 6s ease infinite;
    -moz-animation: AnimationName 6s ease infinite;
    -o-animation: AnimationName 6s ease infinite;
    animation: AnimationName 6s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 66%}
    50%{background-position:100% 35%}
    100%{background-position:0% 66%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 66%}
    50%{background-position:100% 35%}
    100%{background-position:0% 66%}
}
@-o-keyframes AnimationName {
    0%{background-position:0% 66%}
    50%{background-position:100% 35%}
    100%{background-position:0% 66%}
}
@keyframes AnimationName {
    0%{background-position:0% 66%}
    50%{background-position:100% 35%}
    100%{background-position:0% 66%}
}

.basic-working {
  color: white;
  font-family: "BBH Bartle";
  font-size: 25px;
  letter-spacing: 1px;
  margin-bottom: 0.5%;
  text-shadow: 2px 2px 0.001px rgb(50, 3, 3);
}

.basic-dis {
  color: white;
  width: 90%;
  display: flex;
  font-size: 16px;
  align-items: center;
  justify-content: center;
  margin-top: 0.5%;
}

.main-box-2 {
  background-color: rgb(82, 79, 18);
  height: auto;
  margin: 10px 50px;
  margin-bottom: 23px;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ;
  padding: 25px;
  gap: 30px;
  box-shadow: 0px 0px 10px rgb(4, 28, 36);
}

.main-box-2 {
    background: linear-gradient(179deg, #d13f8b, #3c3a08, #7b0e62);
    background-size: 600% 600%;

    -webkit-animation: AnimationName 10s ease infinite;
    -moz-animation: AnimationName 10s ease infinite;
    -o-animation: AnimationName 10s ease infinite;
    animation: AnimationName 10s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 66%}
    50%{background-position:100% 35%}
    100%{background-position:0% 66%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 66%}
    50%{background-position:100% 35%}
    100%{background-position:0% 66%}
}
@-o-keyframes AnimationName {
    0%{background-position:0% 66%}
    50%{background-position:100% 35%}
    100%{background-position:0% 66%}
}
@keyframes AnimationName {
    0%{background-position:0% 66%}
    50%{background-position:100% 35%}
    100%{background-position:0% 66%}
}

.time-table-box {
  background-color: #202303;
  max-height: 40vh;
  height: 35vh;
  border-radius: 10px;
  display: grid;
  border-top: 3px solid rgb(18, 111, 18);
  border-left: 3px solid rgb(26, 91, 26);
  grid-template-rows: 60px 55px 1fr;
  box-shadow: 4px 4px 2px rgb(19, 2, 9);
  justify-items: center;
}

.day-span {
  font-family: "BBH Bartle";
  color: white;
  font-size: 18px;
  letter-spacing: 1px;
  margin-top: 6%;
  text-shadow: 2px 2px 0.001px rgb(67, 5, 5);
}

.subject-input-box {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px none white;
  border-radius: 3px;
  padding: 5px;
  height: 55px;
}

.subject-display-box::-webkit-scrollbar {
  width: 5px;
  padding-top: 5px
}

.subject-display-box::-webkit-scrollbar-track {
  background: transparent;
}

.subject-display-box::-webkit-scrollbar-thumb {
  background: rgb(170, 170, 170); /* Matches your 'Add' button green */
  border-radius: 10px;
}

.subject-input {
  color: white;
  height: 85%;
  width: 76%;
  padding: 7px;
  border-radius: 3px;
  background-color: rgb(63, 63, 36);
  border: 2px solid rgb(24, 104, 60);
  border-bottom: 0px;
  border-right: 0px;
  box-shadow: 2px 2px 0.001px rgb(31, 6, 26);
}

.subject-input::placeholder {
  font-size: 14.5px;
  color: white;
}

.subject-button-add {
  width: 50px;
  height: 85%;
  font-weight: 600;
  background-color: rgb(45, 143, 45);
  border-radius: 6px;
  color: white;
  margin-left: 10px;
  border: none;
  letter-spacing: 0.5px;
  transition: all 0.15s ease;
}

.subject-button-add:hover {
  background-color: rgb(171, 205, 176);
  color: rgb(45, 143, 45);
  border-color: rgb(45, 143, 45);
}

.subject-display-box {
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  width: 96%;
  margin-top: 0%;
  margin-bottom: 4%;
  padding: 2%;
  padding-left: 5%;
  padding-top: 1%;
  overflow-y: auto;
}

.subject-display {
  margin: 9px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.subject-name {
  color: white;
  letter-spacing: 0.5px;
  font-size: 20px;
  text-shadow: 1px 1px 0.001px rgb(19, 33, 50);
}

.subject-button-remove {
  width: 60px;
  height: 145%;
  background-color: rgb(202, 53, 53);
  border: none;
  border-radius: 6px;
  margin-right: 3px;
  font-weight: 600;
  letter-spacing: 0.5px;
  color: white;
  transition: all 0.15 ease;
}

.subject-button-remove:hover {
  background-color: rgb(206, 163, 163);
  color: rgb(202, 53, 53);
  border-color: rgb(202, 53, 53);
}

.main-box-3 {
  border-radius: 10px;
  margin: 0px 35px;
  display: grid;
  padding: 5px 10px;
  grid-template-columns: 1fr 1fr;
  background: transparent;
}

.input-days-box {
  margin: 15px 14px;
  border-radius: 10px;
  box-shadow: 5px 5px 0.001px rgb(34, 2, 30);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-shadow: 2.5px 2.5px 0.001px rgb(40, 6, 40);
}

.input-days-box {
    background: linear-gradient(0deg, #130312, #420c3f, #c12fb9);
    background-size: 600% 600%;

    -webkit-animation: AnimationName 5s ease infinite;
    -moz-animation: AnimationName 5s ease infinite;
    -o-animation: AnimationName 5s ease infinite;
    animation: AnimationName 5s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-o-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

.input-days-title {
  font-family: "BBH Bartle";
  color: white;
  letter-spacing: 1px;
  font-size: 18px;
  margin: 0px 0px;
}

.input-date {
  width: 200px;
  height: 35px;
  display: flex;
  justify-content: center;
  font-size: 16px;
  border: none;
  background-color: rgb(61, 15, 36);
  font-weight: 600;
  color: white;
  border-radius: 5px;
  box-shadow: 2px 2px rgb(41, 6, 6);
}

.edit-date-button {
  margin-left: 20px;
  padding: 8.5px;
  border-radius: 8px;
  font-weight: 600;
  color: white;
  background-color: rgb(60, 13, 34);
  box-shadow: 2px 2px rgb(41, 6, 6);
  border: none;
}

.edit-date-button:hover {
  color: rgb(61, 15, 36);
  background-color: rgb(160, 160, 160);
}

.display-day {
  margin-top: 0px;
  color: white;
  letter-spacing: 1px;
  font-size: 23px;
  font-weight: 500;
}

.no-subjects {
  color: white;
  margin: 30px 0px;
  font-size: 20px;
  font-weight: 450;
  margin-left: 20%;
  text-shadow: 1px 1px 1px black;
}

.attendance-criteria-box {
  background-color: #4a0427;
  border-radius: 10px;
  margin: 35px 180px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  box-shadow: 5px 5px 0.01px rgb(34, 0, 18);
}

.attendance-criteria-box {
    background: linear-gradient(0deg, #120109, #581235, #bb2972);
    background-size: 600% 600%;

    -webkit-animation: AnimationName 4s ease infinite;
    -moz-animation: AnimationName 4s ease infinite;
    -o-animation: AnimationName 4s ease infinite;
    animation: AnimationName 4s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
}
@-o-keyframes AnimationName {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
}
@keyframes AnimationName {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
}

.attendance-criteria-title {
  font-family: "BBH Bartle";
  color: white;
  letter-spacing: 1px;
  font-size: 20px;
  text-shadow: 2px 2px 0.001px rgb(29, 1, 35);
}

.attendance-criteria-box-2 {
  display: flex;
  gap: 35px;
}

.input-criteria-box {
  height: 100%;
  width: 80%;
  padding: 7px;
  color: white;
  border-radius: 3px;
  background-color: rgb(63, 36, 52);
  border: 2px solid rgb(24, 104, 60);
  border-bottom: 0px;
  border-right: 0px;
  box-shadow: 2px 2px 0.001px rgb(31, 6, 26);
}

.input-criteria-box::placeholder {
  font-size: 14.5px;
  color: white;
}

.percentage-attendance-criteria {
  color: white;
  font-size: 18px;
  margin-left: 5px;
}

.attendance-criteria-button {
  width: 30%;
  background-color: rgb(63, 36, 52);
  color: white;
  font-size: 14px;
  border: none;
  border-radius: 10px;
  box-shadow: 2px 2px 0.01px rgb(19, 1, 25);
  font-weight: 500;
}

.attendance-criteria-button:hover {
  color: rgb(63, 36, 52);
  background-color: rgb(158, 158, 158);
  font-weight: 600;
}

.selected-attendance-criteria {
  color: white;
  letter-spacing: 1px;
  font-size: 23px;
  font-weight: 500;
  text-shadow: 2px 2px 0.01px rgb(33, 0, 0);
}

@media (max-width: 700px) {
  .back-to-top {
    right: 35px;
    top: 17px;
    z-index: 3;
  }
  .basic-working {
    font-size: 19px;
  }
  .main-box {
    grid-template-rows: 320px 320px 1fr 400px 220px;
  }
  .main-box-1 {
    margin-left: 30px;
    margin-right: 30px;
  }
  .basic-dis {
    margin-top: 2.5%;
  }
  .main-box-2 {
    grid-template-columns: 1fr;
    height: auto;
    padding: 20px 20px;
    gap: 45px;
    width: 91%;
    margin: 15px 20px;
    margin-top: 0px;
    background: transparent;
    box-shadow: none;
  }
  .no-subjects {
    margin-left: 40px;
  }
  .day-span {
    font-size: 19px;
    margin-top: 24px;
  }
  .time-table-box {
    max-height: 35vh;
  }
  .time-table-box {
      background: linear-gradient(0deg, #0e0f01, #2c3006, #484e0a);
      background-size: 600% 600%;

      -webkit-animation: AnimationName 5s ease infinite;
      -moz-animation: AnimationName 5s ease infinite;
      -o-animation: AnimationName 5s ease infinite;
      animation: AnimationName 5s ease infinite;
  }

  @-webkit-keyframes AnimationName {
      0%{background-position:0% 50%}
      50%{background-position:100% 50%}
      100%{background-position:0% 50%}
  }
  @-moz-keyframes AnimationName {
      0%{background-position:0% 50%}
      50%{background-position:100% 50%}
      100%{background-position:0% 50%}
  }
  @-o-keyframes AnimationName {
      0%{background-position:0% 50%}
      50%{background-position:100% 50%}
      100%{background-position:0% 50%}
  }
  @keyframes AnimationName {
      0%{background-position:0% 50%}
      50%{background-position:100% 50%}
      100%{background-position:0% 50%}
  }
  .main-box-3 {
    grid-template-columns: 1fr;
    margin: 15px;
    width: 93%;
    padding: 0px;
    margin-bottom: 40px;
  }
  .input-days-title {
    font-size: 16px;
    margin-bottom: 0px;
  }
  .attendance-criteria-box {
    margin: 20px;
    margin-top: 0px;
    margin-bottom: 50px;
  }
  .attendance-criteria-title {
    font-size: 13px;
    letter-spacing: 2px;
  }
  .selected-attendance-criteria {
    font-size: 19px;
  }
  .back-to-top {
    background: transparent;
  }
}

@media (min-width: 701px) and (max-width: 1024px) {
  .back-to-top {
    right: 25px;
    top: 145px;
  }
  .main-box-2 {
    grid-template-columns: 1fr 1fr;
    height: auto;
  }
  .main-box {
    margin-top:38px;
    grid-template-rows: 225px 225px 1fr 230px 210px;
  }
  .time-table-box {
    max-height: 25vh;
  }
  .input-days-title {
    font-size: 14.5px;
    margin-bottom: 13px;
  }
  .main-box-3 {
    width: 95%;
    margin: 20px;
    margin-bottom: 40px;
  }
  .no-subjects {
    margin-left:  25px;
  }
  .attendance-criteria-box {
    margin: 0px 40px;
    margin-bottom: 50px;
  }
}

@media (min-width: 320px) and (max-width: 410px) {
  .back-to-top {
    right: 25px;
    top: 17px;
    background-color: transparent;
    opacity: 1;
  }
  .main-box {
   margin-top: 43px;
   grid-template-rows: 330px 320px 1fr 380px 200px;
   gap: 40px;
  }
  .main-box-1 {
    margin: 0px 20px;
  }
  .basic-working {
    font-size: 17px;
  }
  .main-box-2 {
    grid-template-columns: 1fr;
    height: auto;
    padding: 10px;
    gap: 10px;
    width: 90%;
    margin: 0px 18px;
    background: transparent;
  }
  .day-span {
    font-size: 15px;
    margin-top: 25px;
  }
  .no-subjects {
    font-size: 18px;
    margin-left: 19px;
  }
  .time-table-box {
    max-height: 53vh;
    height: 40vh;
    margin: 4% 2%;
  }

  .time-table-box {
      background: linear-gradient(0deg, #0e0f01, #2c3006, #484e0a);
      background-size: 600% 600%;

      -webkit-animation: AnimationName 5s ease infinite;
      -moz-animation: AnimationName 5s ease infinite;
      -o-animation: AnimationName 5s ease infinite;
      animation: AnimationName 5s ease infinite;
  }

  @-webkit-keyframes AnimationName {
      0%{background-position:0% 50%}
      50%{background-position:100% 50%}
      100%{background-position:0% 50%}
  }
  @-moz-keyframes AnimationName {
      0%{background-position:0% 50%}
      50%{background-position:100% 50%}
      100%{background-position:0% 50%}
  }
  @-o-keyframes AnimationName {
      0%{background-position:0% 50%}
      50%{background-position:100% 50%}
      100%{background-position:0% 50%}
  }
  @keyframes AnimationName {
      0%{background-position:0% 50%}
      50%{background-position:100% 50%}
      100%{background-position:0% 50%}
  }
  .subject-button-remove {
    font-size: 13px;
    margin-left: 8px;
  }
  .input-days-title {
    font-size: 12px;
    margin-bottom: 0px;
  }
  .main-box-3 {
    margin: 10px;
    margin-bottom: 0px;
    margin-top: 0px;
    width: 95%;
    padding: 0px;
  }
  .attendance-criteria-box {
    width: 90%;
    margin-left: 20px;
    margin-top: 0px;
  }
  .attendance-criteria-title{
    font-size: 11px;
  }
  .attendance-criteria-box-2 {
    gap: 5px;
  }
  .selected-attendance-criteria {
    font-size: 19px;
  }
}
