*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #00040f;
}

.Front-page{
  min-height: 100vh;
  display: grid;
  grid-template-rows: 85px 0.97fr 100px;
}

@media (max-width: 700px) {
  .Front-page{
    grid-template-rows: 140px 1fr 60px;
  }
}

.main-conatiner {
  height: 150vh;
}

.back-to-top {
  z-index: 10;
  position: fixed;
  right: 24px;
  top: 100px;
}

.back-to-top-button {
  background-color: #00040f;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: 1px none white;
  cursor: pointer;
  transition: all 0.15s ease;
}

.back-to-top-button:hover {
  box-shadow: 0px 0px 3px white;
  transform: scale(1.03) translateY(-5px);
}

.back-to-top-button:active {
  background-color: #0f131d;
}

@media (max-width: 700px) {
  .back-to-top {
    right: 18px;
    top: 160px;
  }
}

@media (min-width: 701px) and (max-width: 1000px) {
  .back-to-top {
    right: 23px;
    top: 145px;
  }
}

@media (min-width: 320px) and (max-width: 410px) {
  .back-to-top {
    right: 20px;
    top: 200px;
  }
}

