*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
}

button {
  cursor: pointer;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #00040f;
}

.Front-page{
  min-height: 100vh;
  display: grid;
  grid-template-rows: 85px 0.97fr 90px;
}

@media (max-width: 700px) {
  .Front-page{
    grid-template-rows: 140px 1fr 60px;
  }
}

.back-to-top {
  z-index: 10;
  position: fixed;
  right: 474px;
  top: 15px;
}

.back-to-top-button {
  background-color: rgb(2, 2, 33);
  opacity: 0.5;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: 1px none white;
  cursor: pointer;
  transition: all 0.15s ease;
}

.back-to-top-button:hover {
  transform: scale(1.03) translateY(-5px);
}

.back-to-top-button:active {
  background-color: #0f131d;
}
